{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<style type="text/css">
        input { height:35px;line-height:normal;padding:7px;font-size:16px;width:230px;outline: none;border: 1px solid #fef8a0; -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);box-shadow: inset 0 1px 2px rgba(0,0,0,0.3)}
	label {font-size:17px}
	
	.Popregister{
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
			background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
			margin-top: 3em;
			border-radius:10px;
			overflow:hidden;
			width:35em;
			margin-left: auto;
			margin-right: auto;
	}
	
	.mesg-css{
		margin-top: 2em;		
		margin-bottom: 2em;
		padding-left: 10px;
		padding-right: 10px;	
		font-size: 15px;
	}
	h2{
		padding-left: 30px;	
	}
	</style>
<div class="col-md-6" style="position: absolute;top: 20%; margin-top: -50px;margin-left:25%">
	<div class="Popregister" style="background-color:#fef8a0; box-shadow:5px 5px 10px #888888;padding-top:10px" > 
   	<div style="text-align:center">
			<form method="post" action=".">{% csrf_token %}
				<h2 align="left"><strong>Account Not Yet Verified</strong></h2>
				<div class="mesg-css">			
				<p>Your account has not been verified by the admin. Please wait.</p>
				</div>
			</form>
		</div>
	</div>
</div>
</div>

{% endblock %}
