<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>example</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content>
<script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel='stylesheet' type="text/css" href='css/bootstrap.min.css'>
<link rel='stylesheet' type="text/css" href='css/sticky-footer-navbar.css'>
<link rel='stylesheet' type="text/css" href='css/rating.css'>
<link rel='stylesheet' type="text/css" href='css/main.css'>
</head>
<body>
<div class="row1" >
  	<div class="col-xs-12 col-md-8" id="paneclass" >
  		<div id="content">
  			<div class="row" style="margin-top:10px;margin-bottom:-66px">
  				<div class="col-xs-6 col-md-4" >
  					<div id="hack1"></div>
						<div id="hack3">
              <img src="images/Jyothirmayi_1.jpg" class="img-polaroid" style="width:200px;height:245px">
            </div><br>
            <div class="well">
              <span class="rating">
              <span class="star"></span>
            </div>
            <div id="online" >Online</div>
            <div id="offline" >offline </div>
          </div>
				  <div class="col-xs-12 col-md-8" >	
					   <div class="modal-header">
						    <h2>Jyothirmayi&nbsp;K,
  							   <a href="#degree">MBBS</a> ,
  							   <a href="#degree">MDi</a>
  						  </h2>
  					  </div>
  					 <div  class="modal-body">
						    <p> "Jyothirmayi, a university topper from Osmania Medical College, currently works as a Consultant Psychiatrist with specific interest in women's health and mood disorders. Her previous experience was in the role of a Chief Medical Officer with the State Government."
  						  </p>
  						  <p style="color:brown;font-size:18px">Specialize in 
                    <button class="btn btn-primary"style="margin-left:9px;"> Hallucination</button>
  						      <button class="btn btn-primary"> Depression</button>
  						      <button class="btn btn-primary"> Addictions</button>
  						      <br>
  					       <br>
  						      <button class="btn btn-primary"> Education/Career</button>
  						      <button class="btn btn-primary"> Relationship</button>
  						      <button class="btn btn-primary"> Fear/Phobis</button>
  						      <button class="btn btn-primary"> others</button>
  					   </p>
              </div>
              <div id="fee" >Contact</div>
              <div id="fee1" >Consulting fee</div>
              <div id="contact" >Continental Hospitals, Hyderabad</div>
              <div id="consulting" >1 hour- $12
                <br>2 hour- $20</div>
  				</div>
  		  </div>
     </div>
	</div>
  <div class="col-xs-6 col-sm-3" id="appointment">
    <div style="padding:142px;background-color:#e5e5e5;border-radius:5px;">
      <div style="float: left; width: 50%">
      
      </div>
    </div>
         <button class="btn btn-success">Request a call</button>
    </div>
  </div>
</div>
<div class="row2">
  <div class="col-xs-12 col-md-8" id="details" >
    <div id="paddin">
      <div class="row-fluid">
        <div class="span12">
              <img src="images/2.png" style="width:38px;height:38px">&nbsp; Professional Experience
              <hr size="4" width="90%" >
                <div class="span6">
                 <b> Psychiatrist</b>
                  <br><a href="#location">Continental Hospitals,Hyderabad,India</a>
                  <br><small>October 2013-Present(11 months)</small>
                </div>
                <br>
                 <div class="span6">
                  <b> Resident Doctor in Psychiatry</b>
                  <br><a href="#location">Institue of Mental Health,Erragadda,Hyderabad</a>
                  <br><small>May 2010-July 2013(3 years 3 months)</small>
                </div>
                <br>
                <div class="span6">
                    <b> Civil Assistant Surgeon</b>
                    <br><a href="#location">Department of Health</a>
                   <br><small>February 2009-August 2009 (7 months)</small>
               </div>
          </div>
          <div class="span12">
            <img src="images/4.png" style="width:65px;height:65px;position:Relative;right:16px;">Awards and Publications
            <hr size="4" width="90%" style="position:relative;bottom:18px;">
            <div class="span6">
              <b> Gold Medalist-State 1st</b>
              <br><a href="#location">NTR University of Health Sciences</a>
                    <br><small>July 2013</small>
                    <br><small>I was the state-wide university topper in MD (Psychiatry)</small>
           </div>
          </div>
          <div class="span12">
            <img src="images/5.png" style="width:44px;position:relative;">&nbsp;Education
            <hr size="4" width="90%" style="position:relative;bottom:18px;">
              <div class="span6">
                 <b>Osmania University</b>
                   <br>MD, <a href="#title">Psychiatry, </a> First Division
                    <br><small> 2010 - 2013</small>
                    <small>Thesis: "A study of stress and psychosocial adjustment in primiparous women attending antenatal clinics"</small>
                    <br><small>Activities and Societies: 
                      <a href="#activity"> Indian Psychiatry Society</a>
                     </small>
              </div>
          </div>
       </div>
     </div>
    </div>

  <div class="col-xs-6 col-sm-3" id="videos" >
    <div style="padding:115px;background-color:#e5e5e5;border-radius:5px;">
      <h4> Related&nbsp;videos</h4>
      <video width="120" height="140" controls id="video1">
        <source src="videos/bp disorder.mp4" type="video/mp4">
        </video>
        <video width="120" height="140" controls id="video2">
           <source src="videos/bp disorder.mp4" type="video/mp4">
           </video>
    </div>
  </div>
</div>
<script type="text/javascript"> 
$(document).ready(function(){
  $('#online').click(function(){
   $('#offline').slideToggle("slow");
  });
   $('#fee').click(function(){
   $('#consulting').slideUp();
    $('#contact').slideToggle("slow");
  });
   $('#fee1').click(function(){
    $('#contact').slideUp();
    $('#consulting').slideToggle("slow");
  });
});
</script>
</body>
</html>

